<div class="clearfix" style="width: 350px;font-size: 13px;line-height: 23px;">
    <div class="col-xs-12" style="padding: 1px">
        <img class="img-responsive" src="{$user.cover_path}">
    </div>
    <div class="col-xs-12" style="padding: 2px;margin-top: -25px;">
        <div class="col-xs-3">
            <img src="{$user.avatar64}" class="avatar-img" style="margin-top: -10px"/>
        </div>
        <div class="col-xs-9" style="padding-top: 25px;padding-right:10px;font-size: 12px;">
            <div style="font-size: 16px;"><a href="{$user.space_url}" title="">{$user.real_nickname}
                <if condition="$user['followed'] AND ($user['alias'] neq '')">
                    <span class="text-danger " style="font-size: 0.8em">{$user.nickname}</span>
                </if>
            </a>
                <if condition="get_uid() AND $not_self AND $user['followed']"><a
                        onclick="card.set_alias({$user.uid})"><i
                        class="icon-edit text-danger"></i> </a></if>
                {$user.rank_link}
            </div>
            <div>
                <a href="{$user.following_url}" title="我的关注" target="_black">关注：{$user.following}</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{$user.fans_url}" title="我的关注" target="_black">粉丝：{$user.fans}</a>&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div>
                个性签名：
                <span class="text-muted">
                    {$user.signature|default='还没想好O(∩_∩)O'}
                </span>
            </div>
            <div style="margin-bottom: 15px;color: #848484">
                {$user.tags}
            </div>
        </div>
    </div>
    <div class="col-xs-12" style="background: #f1f1f1;">


        <if condition="get_uid() AND $not_self">
            <button type="button" class="btn btn-default" onclick="talker.start_talk({$user.uid})"
                    style="float: right;margin: 5px 0;padding: 2px 12px;margin-left: 8px;">聊&nbsp;天
            </button>
            &nbsp;
        </if>
        <eq name="user.followed" value="1">
            <button type="button" class="btn btn-default" data-before="btn btn-primary" data-after="btn btn-default"
                    data-role="unfollow" data-follow-who="{$user.uid}"
                    style="float: right;margin: 5px 0;padding: 2px 12px;"><font title="取消关注">已关注</font></button>
            <else/>
            <if condition="$not_self">
                <button type="button" class="btn btn-primary" data-before="btn btn-primary" data-after="btn btn-default"
                        data-role="follow" data-follow-who="{$user.uid}"
                        style="float: right;margin: 5px 0;padding: 2px 12px;">关&nbsp;注
                </button>
            </if>
        </eq>
    </div>
</div>
